Repository yfedoseev/sketch_oxide: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, mypy, pytest

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: cargo clippy -p sketch_oxide --lib --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run Rust tests
  entry: cargo test -p sketch_oxide --lib --all-features
  language: system
  pass_filenames: false

mypy:
  name: mypy
  description: Type check Python (allows warnings like CI/CD)
  entry: bash -c 'mypy python/ --ignore-missing-imports || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest:
  name: pytest
  description: Run Python tests (allows skips for unbuilt modules)
  entry: pytest
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: Resolve ruff linting errors in Python code
  python/sketch_oxide/__init__.py
  python/tests/test_bloom_filter.py
  python/tests/test_ddsketch.py
  python/tests/test_minhash.py
  python/tests/test_py_bindings.py
Due: mypy, pytest

fix: Skip performance tests in CI/CD with #[ignore] attribute
  sketch_oxide/tests/grafite_performance_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: Resolve CI/CD test failures and workflow issues
  .github/workflows/test.yml
  sketch_oxide/tests/ultraloglog_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: Increase UltraLogLog proptest tolerance for CI/CD variance
  sketch_oxide/tests/ultraloglog_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: Add missing ts-jest dependency to Node.js bindings
  nodejs/package-lock.json
  nodejs/package.json
Due: none

fix: Mark failing doctests as ignore to resolve CI failures
  sketch_oxide/src/common/traits.rs
  sketch_oxide/src/frequency/nitrosketch.rs
  sketch_oxide/src/membership/vacuum_filter.rs
  sketch_oxide/src/range_filters/grafite.rs
  sketch_oxide/src/range_filters/grf.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: Resolve TypeScript and Python module import issues
  nodejs/tsconfig.json
  python/sketch_oxide/__init__.py
Due: mypy, pytest

fix: Correct TypeScript rootDir configuration for test handling
  nodejs/tsconfig.json
Due: none

fix: Align Python __all__ exports with actual Rust bindings
  python/sketch_oxide/__init__.py
Due: mypy, pytest

fix: Export type aliases as runtime values in Node.js index.js
  nodejs/index.js
Due: none

fix: Convert TypeScript type-only aliases to runtime re-exports
  nodejs/index.d.ts
Due: none

fix: Resolve Node.js and Python CI/CD test failures
  .github/workflows/test.yml
  nodejs/__tests__/minhash.test.ts
  nodejs/__tests__/tier2_sketches.test.ts
  nodejs/index.d.ts
Due: none

fix: Comprehensive Node.js test compatibility fixes for type aliases and runtime values
  docs/CI_CD_ANALYSIS.md
  nodejs/__tests__/bloom_filter.test.ts
  nodejs/__tests__/hyperloglog.test.ts
  nodejs/__tests__/tier2_sketches.test.ts
  nodejs/index.d.ts
Due: none

test: Fix Node.js test suite compilation errors
  nodejs/__tests__/ddsketch.test.ts
  nodejs/__tests__/minhash.test.ts
  nodejs/__tests__/tier2_sketches.test.ts
Due: none

test: Complete removal of all dispose() calls from DdSketch tests
  nodejs/__tests__/ddsketch.test.ts
Due: none

Fix remaining dispose() calls and type alias exports in Node.js bindings
  .pre-commit-config.yaml
  nodejs/__tests__/bloom_filter.test.ts
  nodejs/__tests__/hyperloglog.test.ts
  nodejs/index.d.ts
  nodejs/index.js
Due: none

Fix pre-commit hooks for Windows compatibility
  .pre-commit-config.yaml
Due: none

fix: Resolve Node.js test failures and TypeScript type aliases
  nodejs/__tests__/bloom_filter.test.ts
  nodejs/__tests__/ddsketch.test.ts
  nodejs/__tests__/tier1_new_sketches.test.ts
  nodejs/__tests__/tier2_sketches.test.ts
  nodejs/fix-types.js
  nodejs/package.json
Due: none

fix: Add uppercase aliases for DDSketch, SALSA, RatelessIBLT, and GRF exports
  nodejs/fix-types.js
  nodejs/index.js
Due: none

fix: Resolve Node.js and Python CI/CD test failures
  .github/workflows/test.yml
  nodejs/__tests__/tier2_sketches.test.ts
Due: none

test: Fix remaining 6 DDSketch tests - achieve 100% pass rate (216/216)
  nodejs/__tests__/ddsketch.test.ts
Due: none

fix: Drop unsupported Node.js 16.x and Python 3.8 from CI/CD matrix
  .github/workflows/test.yml
Due: none

fix: Python CI/CD using pdf_oxide pattern - maturin build wheel install
  .github/workflows/test.yml
Due: none

fix: Python wheel installation and minhash test memory usage
  .github/workflows/test.yml
  nodejs/__tests__/minhash.test.ts
Due: none

fix: Resolve CI/CD failures for Python and Node.js
  nodejs/__tests__/minhash.test.ts
  nodejs/jest.config.js
  python/pyproject.toml
Due: none

refactor: Replace fix-types.js hack with proper NAPI-RS attributes
  nodejs/fix-types.js
  nodejs/index.d.ts
  nodejs/index.js
  nodejs/package.json
  nodejs/src/lib.rs
  nodejs/tsconfig.json
Due: cargo-fmt, cargo-clippy, cargo-test

chore: Add pytest verbose and comprehensive rust tests to pre-commit hook
  .pre-commit-config.yaml
Due: none

improvement: Add --tb=short to pytest for better error output in CI/CD
  .github/workflows/test.yml
Due: none

fix: Add module import verification and improve pip install verbosity in Python CI/CD
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

fix: Remove hardcoded local path from Python test that breaks CI/CD
  python/tests/test_py_bindings.py
Due: mypy, pytest

improve: Update Python CI/CD to use uv, add Python 3.8, and use pdf_oxide best practices
  .github/workflows/test.yml
Due: none

fix: Use pdf_oxide exact uv pattern for Python CI/CD - run from root with relative paths
  .github/workflows/test.yml
Due: none

fix: Add manifest-path for maturin to handle workspace structure
  .github/workflows/test.yml
Due: none

fix: Change to test directories to avoid local package shadowing installed wheel
  .github/workflows/test.yml
Due: none

fix: Use pytest --import-mode=importlib to prevent local package shadowing
  .github/workflows/test.yml
Due: none

fix: Specify sketch_oxide package for Python feature test in workspace
  .github/workflows/test.yml
Due: none

fix: Remove non-existent python feature from cargo test
  .github/workflows/test.yml
Due: none

chore: Bump version to 0.1.5 and expand test matrix
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  VERSION
  nodejs/package.json
  python/pyproject.toml
Due: none

docs: Add [Unreleased] section with v0.1.6 planning and scope definition
  CHANGELOG.md
Due: none

docs: Create comprehensive project roadmap through v1.0.0
  ROADMAP.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  mypy: any of: \.py$
  pytest: any of: \.py$
