Repository yfedoseev/sketch_oxide: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-check, cargo-clippy, cargo-test, mypy, maturin-build, pytest

cargo-fmt-check:
  name: cargo fmt (check)
  description: Check Rust code formatting
  entry: bash -c 'cd sketch_oxide && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: bash -c 'cd sketch_oxide && cargo clippy --lib --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run Rust tests
  entry: bash -c 'cd sketch_oxide && cargo test --lib --all-features'
  language: system
  pass_filenames: false

mypy:
  name: mypy
  description: Type check Python (allows warnings like CI/CD)
  entry: bash -c 'mypy python/ --ignore-missing-imports || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

maturin-build:
  name: maturin develop
  description: Build Python bindings with maturin
  entry: bash -c 'python -m pip install maturin >/dev/null 2>&1 && cd python && python -m maturin develop'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

pytest:
  name: pytest
  description: Run Python tests (allows skips for unbuilt modules)
  entry: bash -c 'python -m pytest python/tests/ || true'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: Clarify 0.x versioning philosophy - release when ready
  ROADMAP.md
Due: none

docs: Update README with accurate algorithm counts, test counts, and language bindings
  README.md
  ROADMAP.md
Due: none

docs: Add GitHub profile recommendations for v0.1.5 with accurate metadata
  GITHUB_PROFILE.md
Due: none

docs: Create comprehensive algorithms reference with all 40+ detailed documentation
  ALGORITHMS_COMPLETE.md
Due: none

fix: Add missing CpcSketch export and correct algorithm counts in documentation
  ROADMAP.md
  sketch_oxide/src/lib.rs
Due: cargo-fmt-check, cargo-clippy, cargo-test

fix: Correct algorithm counts - Python has 41 algorithms, all languages now match (41 each)
  README.md
  ROADMAP.md
Due: none

docs: Declare v0.1.6 strategy - complete multi-language support (41 algorithms across all 5 languages)
  README.md
  ROADMAP.md
Due: none

docs: Create comprehensive Java and C# FFI completion plan for v0.1.6
  JAVA_CSHARP_FFI_PLAN.md
Due: none

feat: Create foundational Java JNI bindings for sketch_oxide (v0.1.6)
  java/src/lib.rs
Due: cargo-fmt-check, cargo-clippy, cargo-test

feat: Add remaining cardinality JNI wrappers (CpcSketch, QSketch, ThetaSketch)
  java/src/lib.rs
Due: cargo-fmt-check, cargo-clippy, cargo-test

chore: Add membership filter imports for v0.1.6
  java/src/lib.rs
Due: cargo-fmt-check, cargo-clippy, cargo-test

feat: Add 6 membership testing JNI wrappers (v0.1.6)
  java/src/lib.rs
Due: cargo-fmt-check, cargo-clippy, cargo-test

feat: Add JNI wrappers for all 5 quantile algorithms
  Cargo.lock
  java/src/lib.rs
  sketch_oxide/src/quantiles/ddsketch.rs
  sketch_oxide/src/range/grafite.rs
  sketch_oxide/src/range/mod.rs
Due: cargo-fmt-check, cargo-clippy, cargo-test

feat: Add JNI wrappers for 6 frequency algorithms
  java/src/lib.rs
Due: cargo-fmt-check, cargo-clippy, cargo-test

feat: Add imports for remaining 12+ algorithms (range filters, reconciliation, sampling, similarity, streaming, universal)
  java/src/lib.rs
Due: cargo-fmt-check, cargo-clippy, cargo-test

feat: Complete Java JNI bindings for all 41 algorithms (12 final additions)
  java/src/lib.rs
Due: cargo-fmt-check, cargo-clippy, cargo-test

feat: Complete Java JNI bindings for all 41 algorithms (v0.1.6)
  java/src/lib.rs
Due: cargo-fmt-check, cargo-clippy, cargo-test

feat: Add native method declarations for range filters + comprehensive init test
  java/src/main/java/com/sketches_oxide/native/SketchOxideNative.java
  java/src/test/java/com/sketches_oxide/InitializationTest.java
Due: none

test: Add comprehensive unit tests for 14 algorithms (v0.1.6)
  java/src/test/java/com/sketches_oxide/cardinality/CpcSketchTest.java
  java/src/test/java/com/sketches_oxide/cardinality/QSketchTest.java
  java/src/test/java/com/sketches_oxide/cardinality/ThetaSketchTest.java
  java/src/test/java/com/sketches_oxide/cardinality/UltraLogLogTest.java
  java/src/test/java/com/sketches_oxide/frequency/FrequentItemsTest.java
  java/src/test/java/com/sketches_oxide/frequency/SpaceSavingTest.java
  java/src/test/java/com/sketches_oxide/quantiles/KllSketchTest.java
  java/src/test/java/com/sketches_oxide/range_filters/GRFTest.java
  java/src/test/java/com/sketches_oxide/sampling/ReservoirSamplingTest.java
  java/src/test/java/com/sketches_oxide/sampling/VarOptSamplingTest.java
Due: none

test: Add comprehensive unit tests for remaining 24 algorithms (v0.1.6)
  java/src/test/java/com/sketches_oxide/frequency/ConservativeCountMinTest.java
  java/src/test/java/com/sketches_oxide/frequency/CountSketchTest.java
  java/src/test/java/com/sketches_oxide/frequency/ElasticSketchTest.java
  java/src/test/java/com/sketches_oxide/frequency/HeavyKeeperTest.java
  java/src/test/java/com/sketches_oxide/frequency/NitroSketchTest.java
  java/src/test/java/com/sketches_oxide/frequency/RemovableUniversalSketchTest.java
  java/src/test/java/com/sketches_oxide/frequency/SALSATest.java
  java/src/test/java/com/sketches_oxide/membership/BinaryFuseFilterTest.java
  java/src/test/java/com/sketches_oxide/membership/BlockedBloomFilterTest.java
  java/src/test/java/com/sketches_oxide/membership/CountingBloomFilterTest.java
  java/src/test/java/com/sketches_oxide/membership/LearnedBloomFilterTest.java
  java/src/test/java/com/sketches_oxide/membership/RibbonFilterTest.java
  java/src/test/java/com/sketches_oxide/membership/StableBloomFilterTest.java
  java/src/test/java/com/sketches_oxide/quantiles/ReqSketchTest.java
  java/src/test/java/com/sketches_oxide/quantiles/SplineSketchTest.java
  java/src/test/java/com/sketches_oxide/quantiles/TDigestTest.java
  java/src/test/java/com/sketches_oxide/range_filters/GrafiteTest.java
  java/src/test/java/com/sketches_oxide/range_filters/MementoFilterTest.java
  java/src/test/java/com/sketches_oxide/reconciliation/RatelessIBLTTest.java
  java/src/test/java/com/sketches_oxide/similarity/SimHashTest.java
  java/src/test/java/com/sketches_oxide/streaming/ExponentialHistogramTest.java
  java/src/test/java/com/sketches_oxide/streaming/SlidingHyperLogLogTest.java
  java/src/test/java/com/sketches_oxide/streaming/SlidingWindowCounterTest.java
  java/src/test/java/com/sketches_oxide/universal/UnivMonTest.java
Due: none

Release v0.1.6: Complete multi-language support (41 algorithms across 5 languages)
  ALGORITHM_SELECTION_GUIDE.md
  CHANGELOG.md
  C_SHARP_IMPLEMENTATION_SUMMARY.md
  Cargo.lock
  Cargo.toml
  IMPLEMENTATION_COMPLETE.md
  INTEGRATION_PATTERNS.md
  PERFORMANCE_GUIDE.md
  README.md
  VERSION
  dotnet/SketchOxide/SketchOxide.csproj
  dotnet/SketchOxide/tests/AdvancedAlgorithmTests.cs
  dotnet/SketchOxide/tests/CarinalityTests.cs
  dotnet/SketchOxide/tests/FrequencyTests.cs
  dotnet/SketchOxide/tests/MembershipTests.cs
  dotnet/SketchOxide/tests/OtherAlgorithmTests.cs
  dotnet/SketchOxide/tests/TestHelpers.cs
  dotnet/csharp-ffi/src/lib.rs
  java/pom.xml
  java/src/lib.rs
  nodejs/package.json
  python/pyproject.toml
  v0.1.5_to_v0.1.6_MIGRATION.md
Due: cargo-fmt-check, cargo-clippy, cargo-test

chore: Remove internal development documentation from release
  C_SHARP_IMPLEMENTATION_SUMMARY.md
  IMPLEMENTATION_COMPLETE.md
Due: none

chore: Remove internal development and analysis documentation
  ALGORITHMS_COMPLETE.md
  JAVA_CSHARP_FFI_PLAN.md
  QUICK_START.md
  docs/CI_CD_ANALYSIS.md
  docs/CROSS_LANGUAGE_TEST_DATA.md
  docs/CROSS_LANGUAGE_VALIDATION.md
  docs/TEST_COVERAGE_SUMMARY.md
  docs/ffi/FFI_CODE_CHANGES.md
  docs/ffi/FFI_ISSUES_AND_SOLUTIONS.md
  docs/ffi/FFI_OPTIMIZATION_GUIDE.md
  docs/test_coverage_harmonization_plan.md
Due: none

fix(java-ffi): Resolve compilation errors in NitroSketch, LearnedBloomFilter, and VacuumFilter
  java/src/lib.rs
Due: cargo-fmt-check, cargo-clippy, cargo-test

chore: Add Java FFI backup, test files, and validation results
  java/src/lib.rs.bak
  tests/cross_language_validation.py
  validation_results.json
Due: mypy, maturin-build, pytest

chore: Reduce CI costs by optimizing test matrices
  .github/workflows/test.yml
Due: none

chore: Enable Dependabot for automated dependency updates
  .github/dependabot.yml
Due: none

chore: vacation backup — save all WIP
  .github/workflows/test.yml
  Cargo.toml
  clippy.toml
  deny.toml
  docs/algorithms/roadmap.md
  rust-toolchain.toml
  rustfmt.toml
Due: none

chore(release): start v0.2.0 development branch
  .gitignore
  Cargo.lock
  Cargo.toml
  GITHUB_PROFILE.md
  VERSION
  v0.1.5_to_v0.1.6_MIGRATION.md
Due: none

chore: consolidate internal docs into gitignored docs/sandbox/
  .gitignore
Due: none

chore(fmt): apply rustfmt to dotnet FFI lib.rs
  dotnet/csharp-ffi/src/lib.rs
Due: cargo-fmt-check, cargo-clippy, cargo-test

chore(clippy): clear pre-existing lint debt in core lib (-D warnings clean)
  sketch_oxide/src/cardinality/cpc.rs
  sketch_oxide/src/frequency/frequent.rs
  sketch_oxide/src/frequency/heavy_keeper.rs
  sketch_oxide/src/frequency/salsa.rs
  sketch_oxide/src/frequency/space_saving.rs
  sketch_oxide/src/quantiles/kll.rs
  sketch_oxide/src/quantiles/tdigest.rs
  sketch_oxide/src/range_filters/grf.rs
  sketch_oxide/src/similarity/simhash.rs
  sketch_oxide/src/streaming/exponential_histogram.rs
Due: cargo-fmt-check, cargo-clippy, cargo-test

fix(reconciliation): rename RatelessIBLT -> Iblt and harden decode with key-check hash
  CHANGELOG.md
  sketch_oxide/src/lib.rs
  sketch_oxide/src/reconciliation/iblt.rs
  sketch_oxide/src/reconciliation/mod.rs
Due: cargo-fmt-check, cargo-clippy, cargo-test

chore(cleanup): remove dead range/ module (orphaned GrafiteFilter)
  sketch_oxide/src/range/grafite.rs
  sketch_oxide/src/range/mod.rs
Due: cargo-fmt-check, cargo-clippy, cargo-test

refactor(streaming): unify ExponentialHistogram + SlidingWindowCounter on shared EhCore
  CHANGELOG.md
  sketch_oxide/src/streaming/eh_core.rs
  sketch_oxide/src/streaming/exponential_histogram.rs
  sketch_oxide/src/streaming/mod.rs
  sketch_oxide/src/streaming/sliding_window.rs
Due: cargo-fmt-check, cargo-clippy, cargo-test

feat(common): add time/watermark convention for windowed sketches
  CHANGELOG.md
  sketch_oxide/src/common/mod.rs
  sketch_oxide/src/common/time.rs
Due: cargo-fmt-check, cargo-clippy, cargo-test

feat(streaming): add WindowedAggregator<S: Mergeable> (windowed sketches for free)
  CHANGELOG.md
  sketch_oxide/src/streaming/mod.rs
  sketch_oxide/src/streaming/windowed_aggregator.rs
Due: cargo-fmt-check, cargo-clippy, cargo-test

feat(common): add keyed/salted hashing for adversarial robustness
  CHANGELOG.md
  sketch_oxide/src/common/hash.rs
  sketch_oxide/src/common/mod.rs
Due: cargo-fmt-check, cargo-clippy, cargo-test

feat(learned): add oracle/score-function interface for learned sketches
  CHANGELOG.md
  sketch_oxide/src/learned/mod.rs
  sketch_oxide/src/learned/oracle.rs
  sketch_oxide/src/lib.rs
Due: cargo-fmt-check, cargo-clippy, cargo-test

Path conditions:
  cargo-fmt-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  mypy: any of: \.py$
  maturin-build: any of: \.py$
  pytest: any of: \.py$
